.vs/slnx.sqlite
.vs/ReactApp1/config/applicationhost.config
.vs/ReactApp1/DesignTimeBuild/.dtbcache.v2
.vs/ReactApp1/FileContentIndex/58b99715-c6e0-4def-9972-99b5489ecc0f.vsidx
.vs/ReactApp1/FileContentIndex/9607f553-9282-4934-b9b0-b09ce9a277e5.vsidx
